@import "tailwindcss";
@theme {
  --color-dark: #1b1b1b;
  --color-2lgreen:#8D9768;
  --color-lgreen: #5c832f;
  --color-lgrey: #f2f2f2;
  --color-lblue: #007b8a;
  --color-lorange: #d97706;
  --color-bright: #ffffff;
}
